.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Roboto", sans-serif;
}

a:visited {
  text-decoration: none;
}

.styleForms {
  color: white;
}

.navLinks {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  padding: 40px 0px;
  justify-content: space-around;
  max-width: 100%;
  background-color: #e2e7e9;
}

.navLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: #004d1a;
}

.navLink:hover {
  color: white;
  background-color: #d0d8db;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: flex;
  flex-flow: row nowrap;
  height: 20px;
  width: 30%;
  margin: 20px auto;

  font-size: 1.1rem;
}

label {
  font-size: 1.5rem;
}

.hideMe {
  display: none;
}

.journalContent {
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.typeSelection {
  height: 30px;
  width: 100px;
  font-size: 1.2rem;
}

.diaryEntries {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 15%;
  border: 1px solid black;
  justify-content: space-around;
}

.allEntries {
  display: flex;
  flex-flow: row wrap;
  max-width: 90%;
  justify-content: space-around;
  margin: 0 auto;
}

.dailyEntry {
  border: 3px solid green;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-color: #004d1a;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 20px 20px;
}

.weeklyEntry {
  border: 3px solid blue;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  background-color: rgb(39, 39, 116);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 20px 20px;
}

button {
  height: 50px;
  width: 90px;
  border-radius: 15%;
  background-color: #e2e7e9;
  color: rgb(127, 12, 156);
  font-size: 1.1rem;
}

button:hover {
  color: white;
  background-color: #d0d8db;
}

.buttonStyle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

body {
  background-image: url("./images/Kouen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(8, 115, 129);
}

.loginButton {
  background-color: white;
  color: #75328a;
}

.loginButton:hover {
  background-color: #d0d8db;
  color: white;
}
