.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.navLinks {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px auto 60px auto;
  justify-content: space-between;
  max-width: 1200px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
}

.navLink {
  width: 20%;
}

input {
  display: flex;
  flex-flow: row nowrap;
  height: 20px;
  width: 30%;
  margin: 20px auto;
}

label {
  font-size: 1.5rem;
}